@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;500;600&display=swap");

:root {
  --blue: #0c80df
}

/* base styles */
* {
  margin: 0;
  font-family: "Exo", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--blue);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #1f7de7;
}

/* blog previews / list */
.location-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.location-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.location-preview h3 {
  font-size: 20px;
  color: var(--blue);
  margin-bottom: 8px;
}

.location-preview a {
  text-decoration: none;
}

/* blog details page */
.location-details {
  margin: 0 auto;
  padding: 10px 16px;
}
.location-details h2 {
  font-size: 20px;
  color: var(--blue);
  margin-bottom: 10px;
}

.location-details div {
  margin: 20px 0;
}

.location-details button {
  background: var(--blue);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* about page */
form {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  text-align: center;
  align-content: center;
  flex-direction: row;
}

form > * {
  margin-top: 5px;
  border: solid 1px var(--blue);
  width: 100%;
}

form > *:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

input, textarea {
  border-radius: 5px;
}

textarea {
  resize: none;
}

@media only screen and (min-width: 768px) {
  form > * {
    margin: 5px;
    /* justify-content: center; */
  }
  form input {
    padding: 0 5px;
    /* max-width: 50%; */
    flex:1 0 40%;
    /* flex: 1 1 50%;
    max-width: 50%; */
  }
  textarea {
    order: 0;
    flex-grow: 2;
    /* max-width: 50%; */
  }
}


article, h2 {
  padding: 0 16px;
}